table th span {
    padding: 0px 0px 0px 2px;
}

.table-color-row {
	width: 5%;
}

.table-id-row {
	width: 3%;
}

.table-name-row {
	width: 5%;
}

.table-damage-class-row {
	width: 10%;
}

.table-power-points-row {
	width: 9%;
}

.table-power-row {
	width: 6%;
}

.table-accuracy-row {
	width: 7%;
}

.boxed {
	padding: 1;
	padding-left: 2;
	margin-left: 2;
  border: 1px  solid gray ;
}