
{% extends "layout.html" %}
{% block title %}Pokedexes{% endblock %}
{% block content %}
<p>This is our About page</p>
<div ng-app="About">
 <!-- CONTAINER -->
  <div class="container">
 
    <!-- THE TEAM -->

    <div class="row team-bio">
      <h1>About</h1>

      <!-- Paola Jara-->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgur.com/TwW6jPq.png">
          <div class="caption">
            <h3>Pokemon Trainer: Paola Jara</h3>
            <hr>
            <p><span>Bio:</span> </p>
            <p><span>Responsibilities:</span> </p>
            <p><span>Stats:</span></p>
          </div>
        </div>
      </div>

      

      <!-- Ali Rasheed-->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgur.com/TwW6jPq.png">
          <div class="caption">
            <h3>Pokemon Trainer: Ali Rasheed</h3>
            <hr>
            <p><span>Bio:</span> </p>
            <p><span>Responsibilities:</span></p>
            <p><span>Stats:</span> </p>
          </div>
        </div>
      </div>

     
      
      <!-- Will Truong -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgur.com/TwW6jPq.png">
          <div class="caption">
            <h3>Pokemon Trainer: Will Truong </h3>
            <hr>
            <p><span>Bio:</span> </p>
            <p><span>Responsibilities:</span></p>
            <p><span>Stats:</span> </p>
          </div>
        </div>
      </div>

      <!-- Cedric Charly -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgur.com/TwW6jPq.png">
          <div class="caption">
            <h3>Pokemon Trainer: Cedric Charly</h3>
            <hr>
            <p><span>Bio:</span> </p>
            <p><span>Responsibilities:</span></p>
            <p><span>Stats:</span></p>
          </div>
        </div>
      </div>

      <!--Samuel Williamson  -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgur.com/TwW6jPq.png">
          <div class="caption">
            <h3>Pokemon Trainer: Samuel Williamson</h3>
            <hr>
            <p><span>Bio:</span> </p>
            <p><span>Responsibilities:</span></p>
            <p><span>Stats:</span> </p>
          </div>
        </div>
      </div>

    </div>
    <!-- TEAM END -->


    
      <!-- TOOLS START -->
	    <div class="tools">
      		<h1>Tools</h1>
			<div class="row">
      			<div class="tools-main col-sm-2 col-sm-offset-4">
        
			          <p> Flask </p>
			          <p> Angular JS </p>
			          <p> Bootstrap </p>

        
      			</div>
    		</div>
    	</div>
    


      

      <!-- Stats START -->
    <div class="Stats">
     	<h1>Team Stats</h1>
      
      

    	<div class="row">
      		<div class="stats-main col-sm-2 col-sm-offset-4">
        
		          <p>Commits:  </p>
		          <p>Issues:  </p>
		          <p>Unit tests: </p>
		          

        
      		</div>
       </div>
    </div>


    <div id="box">
		<h4> Links</h4>
		
		<p><a href="http://107.170.36.57:5000/" title="Mouseover Description">Apiary API</a></p>
		<p><a href="https://github.com/cedricgc/cs373-idb/issues" title="Mouseover Description">GitHub Issue Tracker</a></p>
		<p><a href="https://github.com/cedricgc/cs373-idb" title="Mouseover Description">GitHub Repo</a></p>
		<p><a href="https://github.com/cedricgc/cs373-idb/wiki" title="Mouseover Description">GitHub Wiki</a></p>
	</div>
      

      
   
   



     
  	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock %}