{% extends "layout.html" %}
{% block content %}
  <div class="page-header header-centered">
    <h1>Pokemans<small></small></h1>
    <h1><small>Explore the world of Pokemon</small></h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="header-centered">
          <h3><a href="http://127.0.0.1:5000/pokemon">Pokemon</a></h3>
          <h3><small>There may have originally only been 151 Pokemon, but now there are over 700. Find your favorite Pokemon, or discover new ones.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3><a href="http://127.0.0.1:5000/pokedexes">Pokedexes</a></h3>
          <h3><small>Explore the different Pokedexes. Discover the regions a Pokemon lives in.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3><a href="http://127.0.0.1:5000/moves">Moves</a></h3>
          <h3><small>What would Pokemon be without battling? Learn about all the different moves a Pokemon can learn.</small></h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
