{% extends "layout.html" %}
{% block content %}
  <div class="page-header header-centered">
    <h1>Pokemans<small></small></h1>
    <h1><small>Explore the world of Pokemon</small></h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Pokemon</h3>
          <h3><small>There are hundreds of Pokemon.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Pokedexes</h3>
          <h3><small>Explore the different Pokedexes. Discover the region a Pokemon lives in.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Moves</h3>
          <h3><small>Learn about all the moves that Pokemon can learn.</small></h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
