{% extends "layout.html" %}
{% block content %}
  <div class="page-header header-centered">
    <h1>Pokemans<small></small></h1>
    <h1><small>Explore the world of Pokemon</small></h1>
    <hr>
    <div class="splash-search">
      <h3>What are you looking for?</h3>
      <div class="input-group search-bar">
          <input type="text" placeholder="Search" class="form-control" />
          <div class="input-group-btn">
            <button class="btn btn-info">
              <span class="fa fa-search"></span>
            </button>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Pokemon</h3>
          <h3><small>There may have originally only been 151 Pokemon, but now there are over 700. Find your favorite Pokemon, or discover new ones.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Pokedexes</h3>
          <h3><small>Explore the different Pokedexes. Discover the regions a Pokemon lives in.</small></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="header-centered">
          <h3>Moves</h3>
          <h3><small>What would Pokemon be without battling? Learn about all the different moves a Pokemon can learn.</small></h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
