{% extends "layout.html" %}
{% block title %}Pokemon{% endblock %}
{% block content %}
<div ng-app="pokemonApp">
	<div ng-controller="pokemonController">
	<table class="table table-bordered table-striped table-responsive">
    <tr>
      <th class="table-id-row">
        <a href="#" ng-click="switch('id')">
          Id<span ng-show="isDescending('id')" class="fa fa-caret-down"></span><span ng-show="isAscending('id')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('name')">
          Name<span ng-show="isDescending('name')" class="fa fa-caret-down"></span><span ng-show="isAscending('name')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('flavor_text')">
          Flavor Text<span ng-show="isDescending('flavor_text')" class="fa fa-caret-down"></span><span ng-show="isAscending('flavor_text')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('habitat')">
          Habitat<span ng-show="isDescending('habitat')" class="fa fa-caret-down"></span><span ng-show="isAscending('habitat')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-color-row">
        <a href="#" ng-click="switch('color')">
          Color<span ng-show="isDescending('color')" class="fa fa-caret-down"></span><span ng-show="isAscending('color')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('shape')">
          Shape<span ng-show="isDescending('shape')" class="fa fa-caret-down"></span><span ng-show="isAscending('shape')" class="fa fa-caret-up"></span>
        </a>
      </th>
    </tr>
    <tr ng-repeat="p in pokemon | orderBy:getSortTerm():getReverse()">
      <td>{{ '{{p.id}}' }}</td>
      <td><a href="pokemon/{{ '{{p.id}}' }}">{{ '{{p.name}}' }}</a></td>
      <td>{{ '{{p.flavor_text}}' }}</td>
      <td>{{ '{{p.habitat}}' }}</td>
      <td>{{ '{{p.color}}' }}</td>
      <td>{{ '{{p.shape}}' }}</td>
      </tr>
	</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/index_pokemon.js"></script>
<script src="/static/js/tables.js"></script>
{% endblock %}
