{% extends "layout.html" %}
{% block title %}Moves{% endblock %}
{% block content %}
<div ng-app="movesApp">
  <div ng-controller="movesController">
  <table class="table table-bordered table-striped table-responsive">
    <tr>
      <th class="table-id-row">
        <a href="#" ng-click="switch('id')">
          Id<span ng-show="isDescending('id')" class="fa fa-caret-down"></span><span ng-show="isAscending('id')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-name-row">
        <a href="#" ng-click="switch('name')">
          Name<span ng-show="isDescending('name')" class="fa fa-caret-down"></span><span ng-show="isAscending('name')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('flavor_text')">
          Flavor Text<span ng-show="isDescending('flavor_text')" class="fa fa-caret-down"></span><span ng-show="isAscending('flavor_text')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('short_effect')">
          Short Effect<span ng-show="isDescending('short_effect')" class="fa fa-caret-down"></span><span ng-show="isAscending('short_effect')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="switch('effect')">
          Effect<span ng-show="isDescending('effect')" class="fa fa-caret-down"></span><span ng-show="isAscending('effect')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-damage-class-row">
        <a href="#" ng-click="switch('damage_class')">
          Damage Class<span ng-show="isDescending('damage_class')" class="fa fa-caret-down"></span><span ng-show="isAscending('damage_class')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-power-row">
        <a href="#" ng-click="switch('power')">
          Power<span ng-show="isDescending('power')" class="fa fa-caret-down"></span><span ng-show="isAscending('power')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-power-points-row">
        <a href="#" ng-click="switch('power_points')">
          Power Points<span ng-show="isDescending('power_points')" class="fa fa-caret-down"></span><span ng-show="isAscending('power_points')" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th class="table-accuracy-row">
        <a href="#" ng-click="switch('accuracy')">
          Accuracy<span ng-show="isDescending('accuracy')" class="fa fa-caret-down"></span><span ng-show="isAscending('accuracy')" class="fa fa-caret-up"></span>
        </a>
      </th>
    </tr>
    <tr ng-repeat="m in moves | orderBy:getSortTerm():getReverse()">
      <td>{{ '{{m.id}}' }}</td>
      <td><a href="moves/{{ '{{m.id}}' }}">{{ '{{m.name}}' }}</a></td>
      <td>{{ '{{m.flavor_text}}' }}</td>
      <td>{{ '{{m.short_effect}}' }}</td>
      <td>{{ '{{m.effect}}' }}</td>
      <td>{{ '{{m.damage_class}}' }}</td>
      <td>{{ '{{m.power}}' }}</td>
      <td>{{ '{{m.power_points}}' }}</td>
      <td>{{ '{{m.accuracy}}' }}</td>
    </tr>
    <tfoot>
      <td colspan="9">
        <div class="text-center">
          <ul class="pagination" ng-hide="totalPages <= 1">
            <li ng-class="{disabled: !hasPrevious}">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-hide="currentPage <= 2">
              <a href ng-click="setPage(1)">1</a>
            </li>
            <li ng-hide="currentPage <= 2">
              <a href ng-click="skipBack()">...</a>
            </li>
            <li ng-repeat="n in pageRange()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
              <a href ng-bind="n">1</a>
            </li>
            <li ng-hide="totalPages - currentPage <= 2">
              <a href ng-click="skipForward()">...</a>
            </li>
            <li ng-hide="totalPages - currentPage <= 2">
              <a href ng-click="setPage(totalPages)">{{'{{totalPages}}'}}</a>
            </li>
            <li ng-class="{disabled: !hasNext}">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>
        </div>
      </td>
    </tfoot>
  </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/index_moves.js"></script>
<script src="/static/js/tables.js"></script>
{% endblock %}
