<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pokemans</title>
  <meta name="description" content="A Pokemon Website and API">
  <link rel="stylesheet" href="/static/css/styles.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div id="page">
    {% block body %}{% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>
</html>
