{% extends "layout.html" %}
{% block title %}Move{% endblock %}
{% block content %}
<p>Information about move {{ id }}</p>
<div ng-app="moveApp">
  <div ng-controller="moveController">
  <table class="table table-bordered table-striped table-responsive" ng-init="getData({{id}})">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Flavor Text</th>
      <th>Short Effect</th>
      <th>Effect</th>
      <th>Damage Class</th>
      <th>Power</th>
      <th>Power Points</th>
      <th>Accuracy</th>
    </tr>
    <tr ng-repeat="m in moves">
      <td>{{ '{{m.id}}' }}</td>
      <td>{{ '{{m.name}}' }}</td>
      <td>{{ '{{m.flavor_text}}' }}</td>
      <td>{{ '{{m.short_effect}}' }}</td>
      <td>{{ '{{m.effect}}' }}</td>
      <td>{{ '{{m.damage_class}}' }}</td>
      <td>{{ '{{m.power}}' }}</td>
      <td>{{ '{{m.power_points}}' }}</td>
      <td>{{ '{{m.accuracy}}' }}</td>
    </tr>
  </table>
  <table class="table table-bordered table-striped table-responsive">
    <tr>
      <th>Id</th>
      <th>Pokemon Name</th>
    </tr>
    <tr ng-repeat="p in pokemon">
      <td>{{ '{{p.id}}' }}</td>
      <td>{{ '{{p.name}}' }}</td>
    </tr>
  </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/move.js"></script>
{% endblock %}

