{% extends "layout.html" %}
{% block title %}Moves{% endblock %}
{% block content %}
<p>This is our page about moves</p>
<div ng-app="movesApp">
	<div ng-controller="movesController">
	<table class="table table-bordered table-striped table-responsive">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Flavor Text</th>
      <th>Short Effect</th>
      <th>Effect</th>
      <th>Damage Class</th>
      <th>Power</th>
      <th>Power Points</th>
      <th>Accuracy</th>
    </tr>
    <tr ng-repeat="m in moves">
      <td>{{ '{{m.id}}' }}</td>
      <td>{{ '{{m.name}}' }}</a></td>
      <td>{{ '{{m.flavor_text}}' }}</td>
      <td>{{ '{{m.short_effect}}' }}</td>
      <td>{{ '{{m.effect}}' }}</td>
      <td>{{ '{{m.damage_class}}' }}</td>
      <td>{{ '{{m.power}}' }}</td>
      <td>{{ '{{m.power_points}}' }}</td>
      <td>{{ '{{m.accuracy}}' }}</td>
      </tr>
	</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/moves.js"></script>
{% endblock %}
