{% extends "layout.html" %}
{% block content %}
<body style="background-image:url(../static/images/writers.jpg);background-size:cover">
  <div class="container">
    <div class="row row-centered">
      <div class="col-sm-6 col-centered">
        <div class="panel panel-primary header-centered">
          <div class="panel-body">
            <h1>Team Books' API</h1>
            <hr>
            <h1><small>Explore the world of books, one author at a time</small></h1>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row row-centered">
      <div class="col-sm-6 col-centered">
        <div class="panel panel-info header-centered">
          <div class="panel-heading">
            <h3 class="panel-title">Authors</h3>
          </div>
          <div class="panel-body">
            Choose an author to discover new books
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-centered">
        <div class="panel panel-info header-centered">
          <div class="panel-heading">
            <h3 class="panel-title">Books</h3>
          </div>
          <div class="panel-body">
            Choose a book to discover a new world
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-sm-6 col-centered">
        <div class="panel panel-primary header-centered">
          <div class="panel-body">
            <h2>Powered by: <a href="http://litdb.me">LitDB</a><h2>
          </div>
        </div>
      </div>      
    </div>
  </div>
 </body>




 
{% endblock %}
