{% extends "layout.html" %}
{% block content %}
<body style="background-image:url(../static/images/writers.jpg);background-size:cover">
  <div class="page-header header-centered">
    <h1>IBDB</h1>
    <h1><small>Explore theworld of books, one author at a time</small></h1>
   </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header-centered">
          <h3>Authors</h3>
          <h3><small>Choose an author to discover new books</small></h3>
        </div>
      </div>
    


   
      <div class="col-sm-6">
        <div class="header-centered">
          <h3>Books</h3>
          <h3><small>Choose a book to discover a new world</small></h3>
        </div>
      </div>




      <div class="row link-ibdb-row">
        <h1 class="header-centered">IBDB LINK</h1>

        <div class="col-sm-12">
          <div class="text-center"><a href="" >IBDB</a>
           
         </div>

          

        </div>
     </div>
     
    </div>
  </div>


  





   

 </body>




 
{% endblock %}
