{% extends "layout.html" %}
{% block title %}Pokedex{% endblock %}
{% block content %}
<p>Information about pokedex {{ id }}</p>
<div ng-app="pokedexApp">
  <div ng-controller="pokedexController">
  <table class="table table-bordered table-striped table-responsive" ng-init="getData({{id}})">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Official Name</th>
      <th>Region</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="p in instance">
      <td>{{ '{{p.id}}' }}</td>
      <td>{{ '{{p.name}}' }}</a></td>
      <td>{{ '{{p.official_name}}' }}</td>
      <td>{{ '{{p.region}}' }}</td>
      <td>{{ '{{p.description}}' }}</td>
    </tr>
  </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/pokedex.js"></script>
{% endblock %}
