{% extends "layout.html" %}
{% block title %}Pokemon{% endblock %}
{% block content %}
<p>This is our page about pokemon</p>
<div ng-app="pokemonApp">
	<div ng-controller="pokemonController">
	<table class="table table-bordered table-striped table-responsive">
    <tr>
      <th><a href="#" ng-click="sortPokemon='id'">Id</a><span ng-show="sortPokemon =='id'" class="fa fa-sort-desc"></span></th>
      <th><a href="#" ng-click="sortPokemon='name'">Name<span ng-show="sortPokemon =='name'" class="fa fa-sort-desc"></span></th>
      <th><a href="#" ng-click="sortPokemon='flavor_text'">Flavor Text<span ng-show="sortPokemon =='flavor_text'" class="fa fa-sort-desc"></span></th>
      <th><a href="#" ng-click="sortPokemon='habitat'">Habitat<span ng-show="sortPokemon =='habitat'" class="fa fa-sort-desc"></span></th>
      <th><a href="#" ng-click="sortPokemon='color'">Color<span ng-show="sortPokemon =='color'" class="fa fa-sort-desc"></span></th>
      <th><a href="#" ng-click="sortPokemon='shape'">Shape<span ng-show="sortPokemon =='shape'" class="fa fa-sort-desc"></span></th>
    </tr>
    <tr ng-repeat="p in pokemon | orderBy:sortPokemon:reversePokemon">
      <td>{{ '{{p.id}}' }}</td>
      <td><a href="pokemon_info/{{ '{{p.id}}' }}">{{ '{{p.name}}' }}</a></td>
      <td>{{ '{{p.flavor_text}}' }}</td>
      <td>{{ '{{p.habitat}}' }}</td>
      <td>{{ '{{p.color}}' }}</td>
      <td>{{ '{{p.shape}}' }}</td>
      </tr>
	</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/pokemon.js"></script>
{% endblock %}
