{% extends "layout.html" %}
{% block title %}Pokedex{% endblock %}
{% block content %}
<div ng-app="pokedexApp">
  <div ng-controller="pokedexController" ng-init="getData({{id}})">
  <div class="panel panel-primary" ng-repeat="p in pokedex">
    <div class="panel-heading"><h3>{{'{{p.official_name}}'}}</h3></div>
      <div class="panel-body">{{'{{p.description}}'}}</div>
      <table class="table table-bordered">
        <tr>
          <th class="list-group-item-heading">Id</th>
          <td>{{'{{p.id}}'}}</td>
        </tr>
        <tr>
          <th class="list-group-item-heading">Name</th>
          <td>{{'{{p.name}}'}}</td>
        </tr>
        <tr>
          <th class="list-group-item-heading">Region</th>
          <td>{{'{{p.region}}'}}</td>
        </tr>
      </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Pokemon</h3></div>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
        </tr>
        <tr ng-repeat="p in pokemon">
          <td><a href="../pokemon_info/{{ '{{p.id}}' }}">{{ '{{p.name}}' }}</td>
        </tr>
      </table>
  </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/pokedex.js"></script>
{% endblock %}
