{% extends "layout.html" %}
{% block title %}Pokedex{% endblock %}
{% block content %}
<div ng-app="pokedexApp">
  <div ng-controller="pokedexController" ng-init="getData({{id}})">
  <div class="panel panel-primary panel-instance" ng-repeat="p in pokedex">
    <div class="panel-heading instance-text"><h3>{{'{{p.official_name}}'}}</h3></div>
      <div class="panel-body instance-text">{{'{{p.description}}'}}</div>
      <table class="table table-bordered">
        <tr>
          <th class="list-group-item-heading instance-text">Id</th>
          <td class="instance-text">{{'{{p.id}}'}}</td>
        </tr>
        <tr>
          <th class="list-group-item-heading instance-text">Name</th>
          <td class="instance-text">{{'{{p.name}}'}}</td>
        </tr>
        <tr>
          <th class="list-group-item-heading instance-text">Region</th>
          <td class="instance-text">{{'{{p.region}}'}}</td>
        </tr>
      </table>
  </div>
  <div class="panel panel-default panel-instance">
    <div class="panel-heading"><h3 class="instance-text">Pokemon</h3></div>
      <table class="table table-bordered">
        <tr>
          <th class="instance-text">Name</th>
        </tr>
        <tr ng-repeat="p in pokemon">
          <td class="instance-text"><a href="../pokemon/{{ '{{p.id}}' }}">{{ '{{p.name}}' }}</a></td>
        </tr>
      </table>
  </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Download our scripts after vendor libs -->
<script src="/static/js/show_pokedexes.js"></script>
{% endblock %}
